@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#hero-area {
  background: linear-gradient(180deg, #d7f5dc 0%, #d7f5dc 100%);
}
.stat-item {
  border-radius: 20px;
  box-shadow: 4px 9px 20px 0px rgba(0, 0, 0, 0.07);
}
